body {
    margin: 0px;
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: auto;

}

header {
    width: 100%;
    margin: 0px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../_img/background-texture.jpg");
}

div#headerEsquerda {
    width: 49.7%;
    display: inline-block;
}

div#headerDireita {
    width: 49.7%;
    margin: 0px;
    display: inline-block;
    text-align: right;
    color: rgb(255, 250, 215);
}

ul#mainMenu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 20px;
    display: inline;
    padding: 0px;

}

ul#mainMenu > li {
    display: inline;
    padding: 10px;
    transition-duration: 250ms;
}

ul#mainMenu > li:hover {
    background-color: rgb(134, 37, 37);
    transition-duration: 250ms;
}

a {
    text-decoration: none;
    color: white;
}

div#containerFiguras {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

footer {
    background-color: rgb(161, 59, 59);
    margin: 0px;
    margin-bottom: -20px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
}

form {
    font-family: sans-serif;
    font-weight: 600;
    color: rgb(80, 80, 80);
    font-size: 0.9em;
}

h2 {
    font-family: sans-serif;
    font-size: 1.2em;
    color: rgb(80, 80, 80);
    
}



