img#logoHeader {
    width: 45%;
    padding: 2%;
}

img#cafeteria {
    width: 100%;
    height: auto;
}

figure.figuras {
    background-color: #e9e9e9;
    text-align: center;
    display: inline-flex;
    border: 1px #cccccc solid;
    padding: 4px;
    width: 15%;
    height: 200px;
    align-items: center;
    justify-content: center;
}
  
figcaption {
    display: block;
    color: rgb(70, 70, 70);
    font-style: italic;
    padding: 2px;
    text-align: center;
}






img.imgContato {
    width: 30px;
}

figure.itemCardapio {
    width: 100%;
    height: 10%;
    text-align: left;
    border: 1px brown solid;
    background-color: rgb(255, 255, 217);
}

img.imgCardapio {
    width: 150px;
    
}